/*NAVBAR, SIDEBAR, CONTENT*/
.navbar{
	display: none;
}
.navbar-static-top {
	margin-bottom: 0;
	font-size: 15px;
}
.logo{
	height: inherit !important;
	background-color: transparent !important;
}
header{
	position: fixed !important;
    width: 100%;
}
.main-sidebar{
	position: fixed;
	background-color: #2B3E50 !important;
	padding-top: 100px;
}
.sidebar-menu>li.active>a, .sidebar-menu>li:hover>a {
    background: rgb(26, 42, 58);
    -border-left-color: #dd4b39;
    -border-left-color: red;
}
.content-wrapper{
	background-color: white;
}
.content{
	margin: 0;
}
.btn{
	color: black !important;
}


/*TABS*/
.nav-tabs-custom .nav-tabs{
	display: table;
    width: 100%;
    table-layout: fixed;
}
.nav-tabs-custom .nav-tabs li{
	float: none;
    display: table-cell;
    width:100%;
    text-align: center;
    font-size: large;
}
.nav-tabs-custom>.nav-tabs>li.active, .nav-tabs-custom>.nav-tabs>li:hover{
    border-bottom: solid #2B3E50;
    border-top: none;
}
.nav-tabs-custom>.nav-tabs>li>a{
	color: #999;
}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li:hover>a{
    color: black;
}


/*BOX*/
.box{
	border: none !important;
	box-shadow: 0 0px 10px 3px rgba(0,0,0,.1) !important;
}
.box-header{
	-border-bottom: solid #dd4b39 2px;
	text-align: center;
	background: #2B3E50 !important;
}
.box-header a{
	color: white;
}
.info-box-text{
	white-space: inherit;
	text-transform: inherit;
}


/*SPECIFIC BOXES*/
#shiny-tab-accueil .small-box{
	background-color: transparent !important;
	box-shadow: 0 0px 10px 5px rgba(0,0,0,.1) !important;
}
#shiny-tab-accueil .small-box .inner{
	color: black;
}
#shiny-tab-accueil .small-box .inner p{
	font-size: small;
}
#toxicite_row .col-sm-4{
	width: 100%;
}
#toxicite_row .col-sm-4 h3{
	font-size: x-large;
}
#toxicite_row .col-sm-4 p{
	font-size: small;
}
#infobox1, #infobox2, #infobox3, #infobox4 {
	width: 100%;
}
.ssba-img {
	width: 30px;
}
#controls {
	padding-top : 10px;
}
/* Couleur message d'erreur*/
.shiny-output-error-validation {
	color: green;
	size: 225px ;
	padding-left: 25;
	}
#loading-spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	margin-top: -33px;  /* half of the spinner's height */
	margin-left: -33px; /* half of the spinner's width */
}
#loading-content {
	position: absolute;
	background: #000000;
	opacity: 0.9;
	z-index: 100;
	left: 0;
	right: 0;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
}
